Lost/Lost/Web References/Services/location.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://mmcwong.com/soap/SimpleService" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://mmcwong.com/soap/SimpleService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://mmcwong.com/soap/SimpleService">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
      <xsd:complexType name="Location">
        <xsd:all>
          <xsd:element name="Longitude" type="xsd:double" />
          <xsd:element name="Latitude" type="xsd:double" />
        </xsd:all>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ProcessSimpleTypeRequest">
    <wsdl:part name="name" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="ProcessSimpleTypeResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="ProcessMyLocationRequest">
    <wsdl:part name="location" type="tns:Location" />
  </wsdl:message>
  <wsdl:message name="ProcessMyLocationResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:portType name="SimpleServicePortType">
    <wsdl:operation name="ProcessSimpleType">
      <documentation>A simple Hello World web method</documentation>
      <wsdl:input message="tns:ProcessSimpleTypeRequest" />
      <wsdl:output message="tns:ProcessSimpleTypeResponse" />
    </wsdl:operation>
    <wsdl:operation name="ProcessMyLocation">
      <documentation>Processes a location and saves it in the db</documentation>
      <wsdl:input message="tns:ProcessMyLocationRequest" />
      <wsdl:output message="tns:ProcessMyLocationResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SimpleServiceBinding" type="tns:SimpleServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="ProcessSimpleType">
      <soap:operation soapAction="http://mmcwong.com/services/location.php/ProcessSimpleType" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://sanity-free.org/services" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://sanity-free.org/services" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcessMyLocation">
      <soap:operation soapAction="http://mmcwong.com/services/location.php/ProcessMyLocation" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://sanity-free.org/services" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://sanity-free.org/services" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SimpleService">
    <wsdl:port name="SimpleServicePort" binding="tns:SimpleServiceBinding">
      <soap:address location="http://mmcwong.com/services/location.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>